@charset "UTF-8";

.keysourcesblock {
	background-color: #F1F0F0; 
	color: black;
}

.boxshadow {
	
	box-shadow: 5px 10px 18px #888888;
}

.modalblackbox {
	padding: 15px;
	background: #000000;
	color: white;
	margin-left: 45px;
	margin-right: 45px
	
}.underconstruction {
    background-size: auto auto;
    background-repeat: no-repeat;
    background-image: url(../images/Thumbnail_Acute_Care.jpg);
    background-origin: border-box;
}

.mission {
	font-size: 19px;
	color: #826FB0;
	text-align: center;
	font-weight: 300;
	font-style: italic;
	padding: 60 0 60 0;
	
}

.missionheader {
	font-size: 32px;
	color: #826FB0;
	text-align: center;
	font-weight: 700;
	padding: 60 0 60 0;
}

.missionsection {
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: thin solid #826FB0;
}

.callplannerheader, col-10 {
	background-color: dimgray;
	color: white;
	font-size: 32px;
	font-weight: 700; 
	padding: 15px;
	text-align: center;
}

.formsubheader {
	background-color:#CFCECF;
	color: white;
	font-size: 24px;
	font-weight: 700; 
	padding: 15px;
	margin-bottom: 30px;
	margin-top: 30px;
	text-align: center;
}